<ul class="nav navbar-right float-right list-inline">
    <li class="d-none d-sm-block">
        <a href="#" id="btn-fullscreen" class="waves-effect waves-light notification-icon-box"><i class="mdi mdi-fullscreen"></i></a>
    </li>

    <li class="dropdown">
        <a href="" class="dropdown-toggle profile waves-effect waves-light" data-toggle="dropdown" aria-expanded="true">
            <img src="~/assets/images/users/avatar-1.jpg" alt="user-img" class="rounded-circle">
            <span class="profile-username">
                @ViewData["nombreUsuario"] <br />
                <small>Developer</small>
            </span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="javascript:void(0)" class="dropdown-item"> Lock screen</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" asp-controller="Home" asp-action="Salir"> Salir</a></li>
        </ul>
    </li>
</ul>
